<% content_for :title do %>Orange -- Dashboard<% end %>
<div class="gridster">
  <ul>
	  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Dashboard -- Orange" data-moreinfo="Uptime: ????"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
	  <div data-id="appstore_oem" data-view="Appstore" data-title="Orange et moi - iOS"></div>
	</li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
	  <div data-id="appstore_ms" data-view="Appstore" data-title="MySosh - iOS"></div>
	</li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	    <div data-id="Google" data-view="Google" data-title="OEM Android" data-moreinfo="WIP"></div>
	</li>
	
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="WIP - Tweets tagged with #orangeetmoi"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>
		
  </ul>
</div>
